body {
    background-color: #050505;
    background-image: radial-gradient(circle at 2px 2px, #111 1px, transparent 0);
    background-size: 40px 40px;
    color: #00ff41;
    font-family: 'Courier New', monospace;
}

/* Tüm butonları 'hacker' butonuna çevir */
button, .btn {
    border: 1px solid #00ff41;
    background: transparent;
    color: #00ff41;
    padding: 10px 20px;
    text-transform: uppercase;
}

button:hover {
    background: #00ff41;
    color: #000;
}
